<br><br><br>
<div class="jumbotron-fluid">
    <div class="pull-left">
        <a  href="/regions"><img style="width: 4%; float: left; padding-left:20px;" src="../../assets/left-arrow.svg"  alt=""></a>
    </div>
    <h1>All Countries</h1>
</div>
<br><br>

<div class="container">

  <div class="row">
    <div class="col-md-6">
        <label for="Regions"> <strong style="font-size: 25px;">Filter</strong></label>
        <ng-multiselect-dropdown
        [placeholder]="'Choose Filter Type'"
        [data]="filterTypeList"
        [(ngModel)]="filterTypeSelectedItems"
        [settings]="filterTypeDropdownSettings"
        (onSelect)="onFilterTypeItemSelect($event)"

      >
      </ng-multiselect-dropdown>
    </div>

    <div class="col-md-6">
        <label for=""> <strong style="font-size: 25px;">Insert Value</strong></label>
        <ng-multiselect-dropdown
        [placeholder]="'Insert Desired Value'"
        [data]="filterValueList"
        [(ngModel)]="filterValueSelectedItems"
        [settings]="filterValueDropdownSettings"
        (onSelect)="onFilterValueItemSelect($event)"

      >
      </ng-multiselect-dropdown>
    </div>
  </div>
</div>
<br><br>

<div class="container-fluid back">
  <div class="row" style="padding-left: 5%; padding-right: 1%;">
    <div class="country col-md-4" *ngFor="let country of allCountries$ | async">

      <!--Countries Card Begins-->

        <div class="card countryCard" style="width: 18rem;">
            <img class="card-img-top" src="{{country.flag}}" alt="Card image cap" style="height:45%; width:60%; border: 1px solid black">
            <div class="card-body">
              <h5 class="card-title text-truncate"> <strong>{{country.name}}</strong></h5>
              <p class="card-text text-truncate">Language:
                <a [routerLink] = "['/allcountries/language',language.iso639_1]" *ngFor='let language of country.languages; let first = first; let last = last;'>{{language.name}} {{language.iso639_1}}{{last ? '' : ', '}}</a>
              </p>
              <p class="card-text text-truncate">Currency:
                <a [routerLink] = "['/allcountries/currency',currency.code]" *ngFor='let currency of country.currencies; let first = first; let last = last;'>{{currency.code}} {{currency.name }}{{last ? '' : ', '}}</a>
              </p>
              <p class="card-text">Region: {{country.region}}</p>
              <p class="card-text">Capital: {{country.capital}}</p>
              <p class="card-text">Population: {{country.population}}</p>
              <a [routerLink] = "['/country-view',country.name]" class="btn btn-success" style="margin-left:45%">Country Details</a>
            </div>
          </div>
      <!--Countries Card Ends-->
    </div>
  </div>
  <br><br><br>
</div>
